@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

html {
  background: url("./todo-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
